Repository azumag/local-to-rtmp-pusher: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

Rebrand project from 'Local to RTMP Pusher' to 'StreamCaster'
  backend/package.json
Due: prettier --write

Complete StreamCaster rebranding with all UI and configuration updates
  .github/workflows/ci.yml
  README.md
  docker-compose.yml
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/pages/HomePage.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

Fix CI Docker Compose connection reset issue
  .github/workflows/ci.yml
  docker-compose.yml
  frontend/nginx/nginx.conf
Due: prettier --write

Fix backend port mapping in Docker Compose
  docker-compose.yml
Due: prettier --write

Simplify UI with new dashboard homepage
  docs/planning/2025-05-31-ui-simplification-plan.md
  frontend/src/hooks/__tests__/useStreaming.test.js
  frontend/src/hooks/useStreaming.js
  frontend/src/pages/HomePage.js
  frontend/src/services/__mocks__/streamService.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

Fix Docker health check port configuration
  .github/workflows/ci.yml
  docker-compose.yml
Due: prettier --write

Add development environment setup and menu bar redesign
  Makefile
  docker-compose.dev.yml
  docs/development-setup.md
  docs/planning/2025-05-31-menu-bar-redesign.md
  frontend/.env.development
  frontend/.env.production
  frontend/Dockerfile.dev
  frontend/package.json
  frontend/public/debug.html
  frontend/public/screenshot.png
  frontend/public/test.html
  frontend/src/App.js
  frontend/src/TestApp.js
  frontend/src/index.js
  frontend/src/services/apiClient.js
  package-lock.json
  package.json
  scripts/install-puppeteer-mcp.sh
  scripts/take-screenshot.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

Update frontend/src/index.js
  frontend/src/index.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Update frontend/src/App.js
  frontend/src/App.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Update scripts/install-puppeteer-mcp.sh
  scripts/install-puppeteer-mcp.sh
Due: none

Update docker-compose.dev.yml
  docker-compose.dev.yml
Due: prettier --write

Update README.md with development environment and new features documentation
  README.md
Due: prettier --write

Add video thumbnail generation and display functionality
  backend/src/routes/files.js
  backend/src/services/ffmpegService.js
  frontend/.env.development
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/components/FileCard.js
  frontend/src/pages/LocalFilesPage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

Clean up Google Drive UI and add temporary thumbnail support
  frontend/src/pages/GoogleDrivePage.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Add localStorage persistence for Google Drive URL and RTMP settings
  frontend/src/pages/GoogleDrivePage.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Google DriveサービスのフォルダID抽出とアクセステスト機能を追加し、動画ファイル検索のロジックを改善
  backend/src/services/googleDriveService.js
  package-lock.json
  package.json
  test-gdrive.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, prettier --write

Fix Google Drive file validation and implement RTMP session management
  backend/src/index.js
  backend/src/routes/rtmp.js
  backend/src/services/googleDriveService.js
  backend/src/services/streamService.js
  frontend/src/App.js
  frontend/src/components/FileCard.js
  frontend/src/components/StreamStatusIndicator.js
  frontend/src/pages/GoogleDrivePage.js
  frontend/src/pages/LocalFilesPage.js
  frontend/src/services/apiClient.js
  frontend/src/services/googleDriveService.js
  rtmp-server/config/nginx.conf
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Implement Google Drive API authentication and fix file listing
  .env.example
  backend/package-lock.json
  backend/src/index.js
  backend/src/routes/files.js
  backend/src/routes/googleDrive.js
  backend/src/services/__tests__/fileService.test.js
  backend/src/services/fileService.js
  backend/src/services/googleDriveApiService.js
  backend/src/services/googleDriveService.js
  backend/src/utils/cleanupGoogleDriveFiles.js
  docker-compose.dev.yml
  docker-compose.yml
  frontend/src/pages/GoogleDrivePage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

Add comprehensive test coverage for Google Drive services
  backend/src/services/__tests__/googleDriveApiService.test.js
  backend/src/services/__tests__/googleDriveService.test.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

Path conditions:
  cd backend && npm run lint:fix: any of: backend/**/*.js
  cd backend && npm run format: any of: backend/**/*.js
  cd frontend && npx eslint --fix: any of: frontend/**/*.{js,jsx}
  cd frontend && npx prettier --write: any of: frontend/**/*.{js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
