Repository azumag/local-to-rtmp-pusher: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

Fix RTMP container health check and CI integration
  .github/workflows/ci.yml
  docker-compose.yml
  rtmp-server/Dockerfile
  rtmp-server/entrypoint.sh
Due: prettier --write

Add RTMP streaming restructure design plan
  docs/planning/2025-06-01-rtmp-streaming-restructure.md
Due: prettier --write

Implement persistent RTMP streaming architecture
  backend/src/index.js
  backend/src/routes/__tests__/persistentStream.test.js
  backend/src/routes/persistentStream.js
  backend/src/services/__tests__/persistentStreamService.test.js
  backend/src/services/__tests__/persistentStreamServiceSimple.test.js
  backend/src/services/persistentStreamService.js
  frontend/src/App.js
  frontend/src/TestApp.js
  frontend/src/__mocks__/axios.js
  frontend/src/components/FileCard.js
  frontend/src/components/StreamConfigDialog.js
  frontend/src/components/StreamStatusIndicator.js
  frontend/src/components/__tests__/StreamConfigDialog.test.js
  frontend/src/hooks/__tests__/useStreaming.test.js
  frontend/src/hooks/usePersistentStreaming.js
  frontend/src/hooks/useStreaming.js
  frontend/src/index.js
  frontend/src/pages/GoogleDrivePage.js
  frontend/src/pages/HomePage.js
  frontend/src/pages/LocalFilesPage.js
  frontend/src/pages/NewStreamsPage.js
  frontend/src/pages/SettingsPage.js
  frontend/src/pages/StreamsPage.js
  frontend/src/reportWebVitals.js
  frontend/src/services/__mocks__/streamService.js
  frontend/src/services/apiClient.js
  frontend/src/services/fileService.js
  frontend/src/services/googleDriveService.js
  frontend/src/services/persistentStreamService.js
  frontend/src/services/streamService.js
  frontend/src/setupTests.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Fix persistent stream test suite issues
  backend/src/routes/__tests__/persistentStream.test.js
  backend/src/services/__tests__/persistentStreamService.test.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

Fix Docker Compose circular dependency and RTMP server configuration
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

docs: プロジェクトドキュメントの追加とコード品質の改善
  CLAUDE.md
  FFMPEG_INSTALLATION.md
  backend/src/middleware/errorHandler.js
  backend/src/services/persistentStreamService.js
  frontend/src/pages/NewStreamsPage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

docs: 開発初期設定の概要とセットアップ方法を削除
  CLAUDE.md
Due: prettier --write

feat: セッション開始前の静止画デフォルト設定機能を追加
  backend/src/routes/persistentStream.js
  frontend/src/pages/NewStreamsPage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write

fix: セッション停止後に新規セッションが開始できない問題を修正
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

feat: ストリーミング中の静止画情報を表示する機能を追加
  backend/src/routes/persistentStream.js
  backend/src/services/persistentStreamService.js
  frontend/src/pages/NewStreamsPage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write

feat: デフォルト静止画を優しい色の配信準備中画像に変更
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

fix: 配信に送るボタンがdisableになる問題の改善
  backend/src/services/persistentStreamService.js
  frontend/src/pages/LocalFilesPage.js
  frontend/src/pages/NewStreamsPage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Fix session state management - enable 'send to stream' button immediately
  backend/src/services/persistentStreamService.js
  frontend/src/hooks/usePersistentStreaming.js
  frontend/src/pages/NewStreamsPage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write

Refactor session state management for reliable file send button activation
  backend/src/services/persistentStreamService.js
  frontend/src/pages/LocalFilesPage.js
  frontend/src/pages/NewStreamsPage.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write

fix: セッション状態同期の改善 - ページ遷移時の状態復元を自動化
  frontend/src/hooks/usePersistentStreaming.js
Due: cd frontend && npx eslint --fix, cd frontend && npx prettier --write

feat: ファイル配信終了後の自動静止画復帰機能を実装
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

feat: プレイリストベースの永続ストリーミングシステムの実装
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

fix: FFmpegのinput設定順序を修正してプレイリストベースストリーミングを動作可能に
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

feat: 静止画配信の問題を修正するためのループ動画変換機能を追加
  .claudeignore
  backend/cache/persistent-sessions.json
  backend/cache/standby/default.jpg
  backend/cache/test-video.mp4
  backend/src/services/imageToVideoConverter.js
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, prettier --write

feat: 静止画配信を音声トラック付きループ動画に変換してRTMP配信を修正
  README.md
  backend/src/services/imageToVideoConverter.js
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format, prettier --write

Path conditions:
  cd backend && npm run lint:fix: any of: backend/**/*.js
  cd backend && npm run format: any of: backend/**/*.js
  cd frontend && npx eslint --fix: any of: frontend/**/*.{js,jsx}
  cd frontend && npx prettier --write: any of: frontend/**/*.{js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
