Repository azumag/local-to-rtmp-pusher: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && npm run lint:fix, cd backend && npm run format, cd frontend && npx eslint --fix, cd frontend && npx prettier --write, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.js": ["cd backend && npm run lint:fix", "cd backend && npm run format"],
  "frontend/**/*.{js,jsx}": [
    "cd frontend && npx eslint --fix",
    "cd frontend && npx prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: プレイリストベースのRTMP配信で動画切り替えが機能しない問題を修正
  backend/src/services/persistentStreamService.js
  docs/rtmp-streaming-issue.md
Due: cd backend && npm run lint:fix, cd backend && npm run format, prettier --write

fix: FFmpegプロセス再起動を回避して配信継続性を保つ
  backend/src/services/persistentStreamService.js
Due: cd backend && npm run lint:fix, cd backend && npm run format

feat: FFmpeg配信ストリーム実証実装を追加
  sandbox/streaming-poc/README.md
  sandbox/streaming-poc/check-stream.sh
  sandbox/streaming-poc/docker-compose.yml
  sandbox/streaming-poc/docker/Dockerfile.ffmpeg
  sandbox/streaming-poc/docker/Dockerfile.rtmp
  sandbox/streaming-poc/docker/nginx.conf
  sandbox/streaming-poc/playlists/current.txt
  sandbox/streaming-poc/scripts/entrypoint.sh
  sandbox/streaming-poc/scripts/generate-test-videos.sh
  sandbox/streaming-poc/scripts/package.json
  sandbox/streaming-poc/scripts/stream-controller-simple.js
  sandbox/streaming-poc/scripts/stream-controller.js
  sandbox/streaming-poc/stop-stream.sh
  sandbox/streaming-poc/test-rtmp-only.sh
  sandbox/streaming-poc/test-simple.sh
  sandbox/streaming-poc/test-stream.sh
  sandbox/streaming-poc/test-vlc.sh
  sandbox/streaming-poc/videos/main-content.mp4
  sandbox/streaming-poc/videos/standby.mp4
  streamflow.md
Due: prettier --write

feat: テストスクリプトで実証された安定した設定を使用するようにPersistentStreamServiceを更新 feat: RTMPストリーミング用の新しいスクリプトと設定ファイルを追加
  backend/src/services/persistentStreamService.js
  sandbox/README.md
  sandbox/advanced-streaming.sh
  sandbox/docker-compose.yml
  sandbox/generate-videos.sh
  sandbox/main.sh
  sandbox/nginx.conf
  sandbox/player.html
  sandbox/playlists/playlist.txt
  sandbox/streaming-poc/README.md
  sandbox/streaming.sh
Due: cd backend && npm run lint:fix, cd backend && npm run format, prettier --write

refactor: 配信プロセスフローチャートをREADMEから削除
  README.md
Due: prettier --write

refactor: streaming-poc実証実装をクリーンアップし、設計書を追加
  design.md
  sandbox/streaming-poc/README.md
  sandbox/streaming-poc/check-stream.sh
  sandbox/streaming-poc/docker-compose.yml
  sandbox/streaming-poc/docker/Dockerfile.ffmpeg
  sandbox/streaming-poc/docker/Dockerfile.rtmp
  sandbox/streaming-poc/docker/nginx.conf
  sandbox/streaming-poc/playlists/current.txt
  sandbox/streaming-poc/scripts/entrypoint.sh
  sandbox/streaming-poc/scripts/generate-test-videos.sh
  sandbox/streaming-poc/scripts/package.json
  sandbox/streaming-poc/scripts/stream-controller-simple.js
  sandbox/streaming-poc/scripts/stream-controller.js
  videos/main-content.mp4
  videos/standby.mp4
Due: prettier --write

feat: JavaScript版UDP→RTMPストリーミングシステム実装
  .claude/settings.local.json
  .husky/pre-commit
  Dockerfile.controller
  Dockerfile.receiver
  README.md
  config/docker.conf
  config/stream.conf
  controller/controller.js
  controller/docker_manager.js
  controller/package.json
  controller/templates/index.html
  docker-compose.prod.yml
  docker-compose.yml
  poc/docker-compose.yml
  poc/nginx.conf
  poc/poc.sh
  rtmp-server/Dockerfile
  rtmp-server/nginx.conf
  scripts/health_check.sh
  scripts/receiver-entrypoint.sh
  scripts/start_sender.sh
  scripts/stop_sender.sh
Due: prettier --write

feat: FFmpeg設定を追加し、RTMP配信のビットレート制限を設定
  poc/poc.sh
Due: none

feat: WebUIからpocスタイルのFFmpeg制御を実装
  controller/controller.js
  controller/package-lock.json
  controller/process_manager.js
  controller/templates/index.html
Due: prettier --write

chore: CI/CDパイプラインとHuskyフックを一時的に無効化
  .github/workflows/ci.yml
  .github/workflows/deploy-generic.yml
  .github/workflows/deploy.yml
  .husky/pre-commit
Due: prettier --write

feat: 包括的なテスト・Lint・CI環境を構築
  .github/workflows/controller-ci.yml
  .github/workflows/integration.yml
  .github/workflows/poc-ci.yml
  .github/workflows/rtmp-server-ci.yml
  controller/.eslintignore
  controller/.eslintrc.js
  controller/__tests__/controller.test.js
  controller/__tests__/process_manager.test.js
  controller/controller.js
  controller/docker_manager.js
  controller/jest.config.js
  controller/package-lock.json
  controller/package.json
  controller/process_manager.js
Due: prettier --write

feat: precommitフックを設定しpocのCIを削除
  .claude/settings.local.json
  .github/workflows/poc-ci.yml
  .husky/pre-commit
  controller/package-lock.json
  package-lock.json
  package.json
Due: prettier --write

feat: RTMPリレー機能の実装 - 外部サーバーへの再エンコード配信対応
  controller/__tests__/process_manager.test.js
  controller/controller.js
  controller/process_manager.js
  controller/templates/index.html
Due: none

wip: 動画ファイルパス問題とJavaScriptエラー修正の進行中
  Dockerfile.relay
  controller/__tests__/process_manager.test.js
  controller/controller.js
  controller/process_manager.js
  controller/templates/index.html
  docker-compose.prod.yml
  docker-compose.yml
  poc/poc.sh
  poc2/docker-compose.yml
  poc2/nginx.conf
  scripts/receiver-entrypoint.sh
  scripts/relay-entrypoint.sh
Due: prettier --write

fix: make husky install optional in prepare script
  package.json
Due: prettier --write

test: fix failing test cases and improve test reliability
  controller/__tests__/controller.test.js
  controller/__tests__/process_manager.test.js
  controller/controller.js
  controller/process_manager.js
  controller/templates/index.html
Due: none

ci: disable problematic Docker test job
  .github/workflows/controller-ci.yml
Due: prettier --write

docs: comprehensive README.md overhaul with professional documentation
  README.md
Due: prettier --write

feat: add jest and npm ci commands to permissions in settings
  .claude/settings.local.json
  README.md
Due: prettier --write
